body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.wrapper {
  width: 100%;
  margin: 0 auto;

}

header {
  height: 70px;
  background: #42adad;
  width: 100%;
  z-index: 12;
  position: fixed;
}
.logo {
  width: 30%;
  float: left;
  line-height: 70px;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  color:#fff;
  letter-spacing: 5px;
}
nav {
  float: right;
  line-height: 70px;
}
nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 40px;
  color: #fff;
}
nav a:hover {
  color: #407979;;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem; /* To make font-size dynamic we change 90px to % and (100% = 16px = 1em).
  Therefore 90px = 562.5 % (em = M) and (rem = root em i.e It doesnot obey parents orders.)*/
  margin: 50px auto 0 auto;
  font-family: 'Sriracha', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 1.5rem;
}

p {
  line-height: 2;
}

span {
  color: #11999E;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

#top-container {
  height: 1080px;
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  
}
.profile-img {
  height: 200px;
  width: 200px;
}

#middle-container {
  margin: 100px 0;
  line-height: 20px;
}

#bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}


.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.book-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-table {
  margin: 0 auto;
  color: #11999E;
  line-height: 50px;
}
.other-skills {
  text-align: center;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
